<app-navbar></app-navbar>
<div class="container addpadding">
    <div class="jumbotron">
        <h1 class="display-3">MidMatch</h1>
        <p class="lead">A simple singles pairing site for MIDS</p>
        <hr class="my-4">
        <p style="font-size:larger">Welcome to MidMatch! Inspired by UMD's TerpMatch and Dartmouth's Last Chances, this is a
            Mids dating site with a fun twist; it's not going to be available forever! Matches are made by crushing on
            someone, which is done by typing their alpha code into a box. Your crush will be anonymously notified that someone likes them. If your crush 'likes' you back, you will both be emailed about your new connection.
            There are no takebacks or unmatches!
            <br>
            <br>
            You will need to verify your school email address, as that is the only way to ensure only mids use this.
            <br>
            <br>
            #RaisingMorale<br>
            <!-- -The Oracle -->
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-large" [routerLink]="['/register']" role="button">Get Started</a>
        </p>
      </div>
</div>
