<app-navbar></app-navbar>
<div class="container addpadding">
    <div class="jumbotron">
        <h1 class="display-3">Regulatory Info</h1>
        <p class="lead">Disclaimers</p>
        <hr class="my-4">
        <p style="font-size:larger">
            MidMatch is not affiliated with USNA, DoD, the US Government, or any organizational bodies therein.
            <br>
            The only information collected by MidMatch is the information submitted by the user, of which the user is the sole owner.
            <br>
            Collected information is stored in a private database.
            <br>
            Development of MidMatch did not utilize any government computer or mission network.
            <br>
            MidMatch is hosted on privately funded infrastructure, and does not rely on any government system to render, display, or store website data.

        </p>
      </div>
</div>
