<app-navbar></app-navbar>
<flash-messages></flash-messages>
<main class="py-4">
    <div class="containter autosize">
        <div class="card">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">
                <form (submit)="onResetRequestSubmit()" >
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder=" Enter Email">
                    </div>
                    <input type="submit" [disabled]="!email" class="btn btn-primary" value="Submit">
                  </form>
            </div>
        </div>
    </div>
</main>
